@import "tailwindcss";
html, body {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 10px;
  border: 3px solid #111;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #6366f1;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #202020 #111;
}
